fieldset ul {
  padding: 10px 20px;
}

.my-navbar {
  background-color: #022b00 !important;
}

.content-section {
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.register-main-section {
  overflow: hidden;
  padding-top: 150px;
  padding-bottom: 60px;
  margin: auto;
  width: 40%;
}

#login-bg .empty-content {
  text-align: center;
}

#login-bg .empty-content a {
  color: black;
}

#login-bg .empty-content a:hover {
  text-decoration: none;
}

.login-content .header h1 {
  color: #022b00;
  font-size: 100px;
}

.login-content .header h4 {
  color: red;
  font-size: 30px;
}

.profile-main-section {
  margin: auto;
  width: 80%;
}

.blog-section, .profile-section {
  font-family: 'Montserrat', sans-serif;
  padding-top: 150px;
}
  
.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

a h2 {
  font-family: 'Montserrat', sans-serif;
}

li a {
  color: black;
}

li a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 980px) {
  .register-main-section {
    width: 75%;
  }
}

@media only screen and (max-width: 650px) {
  .register-main-section {
    width: 90%;
  }
}