{% load static %}

{% block addons %}

    <section>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="{% static 'blog/images/slide-1.JPG' %}" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <h5>
                    <img class="wow bounce" data-wow-duration=".5s" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="wow bounce" data-wow-duration="1s" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="wow bounce" data-wow-duration="1.5s" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="wow bounce" data-wow-duration="2s" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="wow bounce" data-wow-duration="2.5s" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                </h5>
                <p>
                    <a target="_blank" href="https://www.facebook.com/pg/Adya-Wellness-Spa-304865857030563/reviews/"><i>
                        Good service, very relaxing and specially they have well experience masseuse.. WE WILL DEFINITELY COME BACK<br> -Eldi Joyce Nepomuceno Laguda
                    </i>
                    </a>
                </p>
              </div>
            </div>

            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'blog/images/slide-2.JPG' %}" alt="Second slide">
              <div class="carousel-caption d-none d-md-block">
                <h5>
                    <img class="animated bounce faster" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce fast" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce fast" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce slow" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce slower" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                </h5>
                <p>
                    <a target="_blank" href="https://www.facebook.com/pg/Adya-Wellness-Spa-304865857030563/reviews/"><i>
                        My husband and I enjoyed the massage. SUPER! Especially that with HOTSTONE. very relaxing! Mukhang lilipat na kami dto sa Spa na to.<br> -Mikay Billon Amutan
                    </i>
                    </a>
                </p>
              </div>
            </div>

            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'blog/images/slide-3.JPG' %}" alt="Third slide">
              <div class="carousel-caption d-none d-md-block">
                <h5>
                    <img class="animated bounce faster" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce fast" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce fast" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce slow" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce slower" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                </h5>
                <p>
                    <a target="_blank" href="https://www.facebook.com/pg/Adya-Wellness-Spa-304865857030563/reviews/"><i>
                        very accommodating and kudos for the good service<br> -Stephanie Ann Gomez
                    </i>
                    </a>
                </p>
              </div>
            </div>
              
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'blog/images/slide-4.JPG' %}" alt="Third slide">
              <div class="carousel-caption d-none d-md-block">
                <h5>
                    <img class="animated bounce faster" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce fast" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce fast" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce slow" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce slower" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                </h5>
                <p>
                    <a target="_blank" href="https://www.facebook.com/pg/Adya-Wellness-Spa-304865857030563/reviews/"><i>
                            Thumbs up ako dto. Good service. Mabait ang mga staffs. Mganda ang awra pag pasok. Good job..<br> -Anne Sto Tomas Roldan
                    </i>
                    </a>
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'blog/images/slide-5.JPG' %}" alt="Third slide">
              <div class="carousel-caption d-none d-md-block">
                <h5>
                    <img class="animated bounce faster" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce fast" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce fast" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce slow" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce slower" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                </h5>
                <p>
                    <a target="_blank" href="https://www.facebook.com/pg/Adya-Wellness-Spa-304865857030563/reviews/"><i>
                            Perfect place to de-stress, will go back soon<br> -Karen Aban
                    </i>
                    </a>
                </p>
              </div>    
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'blog/images/slide-6.JPG' %}" alt="Third slide">
              <div class="carousel-caption d-none d-md-block">
                <h5>
                    <img class="animated bounce faster" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce fast" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce fast" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce slow" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce slower" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                </h5>
                <p>
                    <a target="_blank" href="https://www.facebook.com/pg/Adya-Wellness-Spa-304865857030563/reviews/"><i>
                            I give 5 star to their services. I will come back again<br> -Jenny Atanas Asogerrot
                    </i>
                    </a>
                </p>
              </div>    
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'blog/images/slide-7.JPG' %}" alt="Third slide">
              <div class="carousel-caption d-none d-md-block">
                <h5>
                    <img class="animated bounce faster" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce fast" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce fast" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce slow" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce slower" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                </h5>
                <p>
                    <a target="_blank" href="https://www.facebook.com/pg/Adya-Wellness-Spa-304865857030563/reviews/"><i>
                            So relaxing moment when I was with Adya Wellness Spa<br> -Jay Enenoria
                    </i>
                    </a>
                </p>
              </div>    
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'blog/images/slide-8.JPG' %}" alt="Third slide">
              <div class="carousel-caption d-none d-md-block">
                <h5>
                    <img class="animated bounce faster" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce fast" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce fast" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce slow" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce slower" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                </h5>
                <p>
                    <a target="_blank" href="https://www.facebook.com/pg/Adya-Wellness-Spa-304865857030563/reviews/"><i>
                            So relaxing moment when I was with Adya Wellness Spa<br> -Jay Enenoria
                    </i>
                    </a>
                </p>
              </div>    
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'blog/images/slide-9.JPG' %}" alt="Third slide">
              <div class="carousel-caption d-none d-md-block">
                <h5>
                    <img class="animated bounce faster" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce fast" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce fast" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce slow" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                    <img class="animated bounce slower" src="{% static 'blog/images/star.svg' %}"> &nbsp;
                </h5>
                <p>
                    <a target="_blank" href="https://www.facebook.com/pg/Adya-Wellness-Spa-304865857030563/reviews/"><i>
                            So relaxing moment when I was with Adya Wellness Spa<br> -Jay Enenoria
                    </i>
                    </a>
                </p>
              </div>    
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </section>
{% endblock addons %}