{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block custom-css %}
  <link rel="stylesheet" href="{% static 'blog/css/blog-style.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <section id="login-bg">
        <div class="register-main-section">
            <div class="content-section login-content">
                <img src="{% static 'blog/images/construction.png' %}" id="construction">
            </div>
        </div>

        <div class="empty-content">
            <small class="text-muted"> 
                <a href="{% url 'blog-posts' %}"><h2> < Go back to Blog Page </h2> </a>
            </small>
        </div>
    </section>
    {% include 'blog/footer.html' %}
{% endblock content %}