{% load static %}

{% block addons %}
<footer>
        <div class="my-footer">
<!--                <a href="#"><img src="images/foot-logo.png"> </a>-->
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md"> 
                            <small class="text-muted">
                                <ul>
                                    <li><h5>Reach Us Here</h5> </li>
                                    <li> <a href="#">+63 922 927 4160 </a> </li>
                                    <li> <a href="#">Unit 4, Blk. 6, Lot 5 Golden Valley Subdivision, Marikina, 1800 Metro Manila</a></li>
                                    <li>
                                        <a href="#">
                                            <img class="foot-icon" src="{% static 'blog/images/facebook.png' %}">
                                        </a> 
                                        &nbsp; &nbsp;
                                        <a href="#">
                                            <img class="foot-icon"  src="{% static 'blog/images/gmail.png' %}">
                                        </a>
                                    </li>
                                </ul>
                            </small>
                        </div>
                        <div class="col-md footer-arrange">
                            <small class="text-muted">
                                <ul>
                                    <li><h5>Body Massages</h5> </li>
                                    <li> <a href="#">Adya Signature Massages</a> </li>
                                    <li> <a href="#">Swedish Massage</a> </li>
                                    <li> <a href="#">Thai Massage</a> </li>
                                    <li> <a href="#">Shiatsu Massage</a> </li>
                                    <li> <a href="#">Deep Massage</a> </li>
                                </ul>
                            </small>
                        </div>
                        <div class="col-md footer-arrange">
                            <small class="text-muted">
                                <ul>
                                    <li><h5>Other Services</h5> </li>
                                    <li> <a href="#">Ventosa Massage</a> </li>
                                    <li> <a href="#">Hot Stone Massage</a> </li>
                                    <li> <a href="#">Ear Candling</a> </li>
                                    <li> <a href="#">Foot Spa</a> </li>
                                    <li> <a href="#">Foot Massage</a> </li>
                                    <li> <a href="#">Back Massage</a> </li>
                                </ul>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                   <h4> Get your discount today! </h4>
                    <form>
                        <input type="email"placeholder="Enter your email address">
                        <button type="submit" class="button_3"> Submit </button>
                    </form>
                    <small class="text-muted">
                        <ul>
                            <li> <a href="#">Terms of Services</a> | <a href="#"> Cookie &amp; Privacy Policy</a></li>
                        </ul>
                    </small>
                </div>
            </div>
        </div>
        <br>
        <div class="foot-sub">
            <p> Adya Wellness Spa, Copyright &copy; 2019 </p>
        </div>
    </footer>
{% endblock addons %}