{% extends "blog/base.html" %}
{% load static %}

{% block custom-css %}
  <link rel="stylesheet" href="{% static 'blog/css/blog-style.css' %}" type="text/css">
{% endblock %}
        
{% block content %}
  <main role="main" class="container">
    <div class="row blog-section">
      <div class="col-md-8">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Delete Post </legend>
                <h2> Are you user you want to delete the post {{ object.title }}  </h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit"> Yes, delete </button>
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}"> Cancel </a>
            </div>
        </form>
      </div>
      <div class="col-md-4">
        {% include 'blog/side_blog.html' %}
      </div>
    </div>
  </main>
{% endblock content %}