{% extends "blog/base.html" %}

{% load static %}
{% block content %}
    <section id="showcase-1">
        <div id="show-sub-1">
            <img src="{% static 'blog/images/border-curl.png' %}" class="animated fadeIn slow"> <br><br>
            <h1 class="animated fadeIn slower"> Endulge the Art of Nature Wellness </h1>
            
            <h5 class="animated fadeInUp slower"> You owe yourself this moment. Make an appointment in just a click and get a discount! </h5><br>
            <button type="submit" class="animated fadeInUp slow"> Make an Appointment </button>
        </div>
    </section>
    
    <section id="newsletter">
        <div class="custom-container">
            <h3> Register your account to avail discounts ahead from other clients </h3>
            <form>
                <input type="email"placeholder="Enter email">
                <button type="submit" class="button_1"> Submit </button>
            </form>
        </div>
    </section>
        
    <section>
        <div class="container">
            <div class="row new-box">
                <div class="col-md wow fadeInUp" data-wow-duration="1">
                   <img src="{% static 'blog/images/spa_1.png' %}">
                    <h3> Thai Massage </h3>
                    <p>
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p> 
                </div>
                <div class="col-md wow fadeInUp" data-wow-duration="2s">
                   <img src="{% static 'blog/images/spa_2.png' %}">
                <h3> Thai Massage </h3>
                <p>
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p> 
                </div>
                <div class="col-md wow fadeInUp" data-wow-duration="3s">
                   <img src="{% static 'blog/images/spa_3.png' %}">
                <h3> Thai Massage </h3>
                <p>
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p> 
                </div>
            </div>
        </div>
    </section>
    
    <div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'blog/images/healthy.jpg' %}">
        <div style="padding-top:200px" class="text-center wow fadeIn" data-wow-duration="5s">
            <img src="{% static 'blog/images/herbal.png' %}">
            <h1> We Always Promote Healthy Lifestyle and Wellness </h1>
        </div>
      </div>

    <section>
        <div class="container">
            <div class="row new-box">
                <div class="col-md">
                    <div class="wow fadeInUp" data-wow-duration="1s">
                       <img src="{% static 'blog/images/spa_1.png' %}">
                        <h3> Thai Massage </h3>
                        <p>
                             Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p> 
                    </div>
                </div>
                
                <div class="col-md">
                    <div class="wow fadeInUp" data-wow-duration="2s">
                       <img src="{% static 'blog/images/spa_1.png' %}">
                        <h3> Thai Massage </h3>
                        <p>
                             Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p> 
                    </div>
                </div>
            </div>   
        </div>
    </section>
{% endblock content %}
