{% block sidecontent %}
    <div class="content-section">
        <h3>Take a look!</h3>
          <p class='text-muted'>Find out for more wellness, great deals and promo!
          <ul class="list-group">
              <li class="list-group-item list-group-item-light"><a href="#">Latest Adya</a></li>
              <li class="list-group-item list-group-item-light"><a href="#">Announcements</a></li>
              <li class="list-group-item list-group-item-light"><a href="#">Calendars</a></li>
              <li class="list-group-item list-group-item-light"><a href="#">Adya Health Tips</a></li>
          </ul>
        </p>
      </div>
{% endblock %}