{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block custom-css %}
  <link rel="stylesheet" href="{% static 'blog/css/blog-style.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <section id="login-bg">
        <div class="register-main-section">
            <div class="content-section register-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <div id="login-content">
                            <legend class="border-bottom mb-4"> Reset Password  </legend>
                        </div>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit"> Reset Password </button>
                    </div>  
                </form>
            </div>
        </div>
    </section>
    {% include 'blog/footer.html' %}
{% endblock content %}