{% extends "blog/base.html" %}
{% load static %}

{% block custom-css %}
  <link rel="stylesheet" href="{% static 'blog/css/blog-style.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <div class="register-main-section">
        <div class="content-section register-section">
            <h2> Your password has been set </h2>
            <div class="border-top pt-3">
                <small class="text-muted"> 
                    <a href="{% url 'login' %}"> Sign In Here </a>
                </small>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    {% include 'blog/footer.html' %}  
{% endblock content %}